body, pre{
  font: 9.8976865044px/1.125 'SF Mono', ui-monospace, monospace;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: auto;
  width: calc(122ch + 4.625em + 4.625em);
  height: calc(37em * 1.125 + 2ch + 3.25em + 6em);
}

pre {
  background-color: #1e1e1e;
  color: #ffffff;
  width: 120ch;
  padding: 1ch;
}

/* window.css */
pre{
  border-radius: 0.4375em; /* 7px @ 16px */
  border: 0.0625em solid rgba(0, 0, 0, 0.41); /* 1px @ 16px */
  border-top-color: rgba(0, 0, 0, 0.24);
  border-bottom-color: rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 0.0625em 0.0625em rgba(255, 255, 255, 0.3),  /* 0, 1px, 1px @ 16px */
              inset -0.0625em 0 0.0625em rgba(255, 255, 255, 0.2), /* -1px, 0 1px @ 16px */
              inset 0 -0.0625em 0.0625em rgba(255, 255, 255, 0.2), /* 0, -1px, 1px @ 16px */
              inset 0.0625em 0 0.0625em rgba(255, 255, 255, 0.2),  /* 1px, 0 1px @ 16px */
              0 1.375em 4.1176470588em 0.25em rgba(0, 0, 0, 0.56); /* 0 22px, 70px, 4px @ 16px */
  margin: 3.25em 4.625em 6em 4.625em; /* 52px, 74px, 96px, 74px @ 16px */
}

/* antsy */
.cursor{
  background-color: #929292;
}
.fg-0 {
  color: #405058;
}
.bg-0 {
  background-color: #405058;
}
.fg-1 {
  color: #ff5c66;
}
.bg-1 {
  background-color: #ff5c66;
}
.fg-2 {
  color: #74d37a;
}
.bg-2 {
  background-color: #74d37a;
}
.fg-3 {
  color: #ffc825;
}
.bg-3 {
  background-color: #ffc825;
}
.fg-4 {
  color: #4f9efa;
}
.bg-4 {
  background-color: #4f9efa;
}
.fg-5 {
  color: #d05bd0;
}
.bg-5 {
  background-color: #d05bd0;
}
.fg-6 {
  color: #43b3c0;
}
.bg-6 {
  background-color: #43b3c0;
}
.fg-7 {
  color: #cddae0;
}
.bg-7 {
  background-color: #cddae0;
}
.fg-8 {
  color: #85949c;
}
.bg-8 {
  background-color: #85949c;
}
.fg-9 {
  color: #ff8b9f;
}
.bg-9 {
  background-color: #ff8b9f;
}
.fg-10 {
  color: #a5f9ab;
}
.bg-10 {
  background-color: #a5f9ab;
}
.fg-11 {
  color: #fff15b;
}
.bg-11 {
  background-color: #fff15b;
}
.fg-12 {
  color: #74cbff;
}
.bg-12 {
  background-color: #74cbff;
}
.fg-13 {
  color: #f788f9;
}
.bg-13 {
  background-color: #f788f9;
}
.fg-14 {
  color: #6adde9;
}
.bg-14 {
  background-color: #6adde9;
}
.fg-15 {
  color: #f6fdff;
}
.bg-15 {
  background-color: #f6fdff;
}
